<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="manifest" href="/manifest.json">
    <title>Page Not Found</title>
    <script>
        if (location.hostname === 'shoptracker.herokuapp.com' && location.protocol !== 'https:') {
            location.href = location.href.replace('http:','https:')
        }
    </script>
    

</head>
<body align="center">
    <div class="container">
        <br><br><br><br><br><br><br>
        <h3 style="color: rgba(105, 90, 205, 0.575);">404</h3>
        <h4 style="color: rgba(105, 90, 205, 0.575);">Page not found !!</h4>
    </div>


    <script src="/app.js"></script>
</body>
</html>